<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Product Management</title>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Product Management System</h1>
        
        <!-- This is where the content of your views (like index.ejs) will be injected -->
        <%- include('../views/index') %>

    </div>

    <!-- Include your custom JavaScript or additional JS files here -->
    <script src="/public/js/main.js"></script>
</body>
</html>
